<picture style="display: block;width:100%;text-align: center;">
  <source media="(min-width: 800px)" srcset="https://thebfe.com/assets/svg/common/logo_desktop.svg">
  <source media="(min-width: 465px)" srcset="https://thebfe.com/assets/svg/common/logo_mobile.svg">
  <!-- img tag for browsers that do not support picture element -->
  <img src="https://thebfe.com/assets/svg/common/logo_mobile.svg" alt="thebfe.com-logo">
</picture>
 
<!--<div class="top-nav">
    <div class="top-nav__logo">
      <a href="/services">
        <%if (location.logoUrl) { %>
          <img src="<%= location.logoUrl %>">
        <% } else { %>
          <img src="/images/blank-logo-sm.svg">
        <% } %>
      </a>
  </div>
  <div class="top-nav__name" style="font-family: brilon;">
    <a href="/services">
      § Boyfd Expeenc    </a>
  </div>
</div>-->