
  <div class="components header__mobile">
    <div class="contents__wrapper">
      <a href="https://thebfe.com" class="logo_mobile_v"><img src="https://thebfe.com/assets/svg/common/logo_mobile_holder.png" class="logo" alt="The Beaux Arts logo"></a>
    </div>
  </div>
  
  <div class="components header__logo" style="backface-visibility: visible; z-index: 0; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
    <div class="contents__wrapper">
      <a href="https://thebfe.com" class="logo_desktop_v"><img src="https://thebfe.com/assets/svg/common/logo_desktop_holder.png" class="logo" width="222" alt="The Beaux Arts logo"></a>
    </div>
  </div>
<!--<div class="top-nav">
    <div class="top-nav__logo">
      <a href="/services">
        <%if (location.logoUrl) { %>
          <img src="<%= location.logoUrl %>">
        <% } else { %>
          <img src="/images/blank-logo-sm.svg">
        <% } %>
      </a>
  </div>
  <div class="top-nav__name" style="font-family: brilon;">
    <a href="/services">
      § Boyfd Expeenc    </a>
  </div>
</div>-->